.section1-img:hover, .section1-btn:hover{
    transform: scale(1.1);
}
.section1-Slider .slick-track{
    display: flex;
    align-items: center;
    gap: 20px;
}
.section2-Slider .slick-slider{
    width: 96%;
    margin: auto;
}
.section2-Slider .slick-track{
    display: flex;
    align-items: start;
    gap: 0px;
}
.section2-Slider .slick-arrow::before{
    color: gray;
}

/* md */
@media (max-width: 768) {
    .section2-Slider .slick-slider{
        width: 90%;
        margin: auto;
    }
  }
  @media (max-width: 380) {
    .section2-Slider .slick-slider{
        width: 86%;
        margin: auto;
    }
  }

/* .res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 1rem;
}
.search-item{
    margin: 0rem 2rem 0.5rem 2rem;
}
.search-item form input{
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px;
}
.filter{
    margin: 1rem 2rem;
}
.filter-title{
    margin-top: 10px;
}
.filter-btn{
    margin: 10px 10px 10px 0px;
    padding: 5px 15px;
    cursor: pointer;
} */