/* .res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 1rem;
}
.search-item{
    margin: 0rem 2rem 0.5rem 2rem;
}
.search-item form input{
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px;
}
.filter{
    margin: 1rem 2rem;
}
.filter-title{
    margin-top: 10px;
}
.filter-btn{
    margin: 10px 10px 10px 0px;
    padding: 5px 15px;
    cursor: pointer;
} */